// Global styles
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: ưhite;
}

// Input and Label styles
input {
    padding: 10px 100px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 9px;
    outline: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        border-color: dodgerblue;
    }
}

// label {
//     display: block;
//     margin-bottom: 5px;
//     font-weight: bold;
// }

// Button styles
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: deepskyblue;
    }

    &:focus {
        outline: none;
    }
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
// .centered-content {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 8vh;
//   }
  