.EmojPageStyle {
  text-align: center;
}

.emojiGenerator {
  justify-content: center;
}

.emojis {
  justify-content: center;
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 100% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 20px;
}

@keyframes rainbow {
  0% {
    color: red;
  }

  14% {
    color: orange;
  }

  28% {
    color: yellow;
  }

  42% {
    color: green;
  }

  57% {
    color: blue;
  }

  71% {
    color: indigo;
  }

  85% {
    color: violet;
  }

  100% {
    color: red;
  }
}

.rainbow-text {
  animation: rainbow 8s infinite;
  text-align: center;
  /* Center align the text */
}